html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, article, section {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

body {
    font-family: "Ubuntu", sans-serif;
    color: #48484a;
    margin:auto;
    background-color: rgb(246, 246, 246)
}

article {
	width:60%;
}

section {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}

figure {
    margin: 0;
}

p {
	font-size: 1.25rem;
	line-height: 1.9rem;
	font-family: "Vollkorn", serif;
	text-align: justify;
	color: #48484a;
}

a {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    outline: none;
}

p a {
    font-family:inherit;
    text-decoration: underline;
    color: #d24d57;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    margin: 0;
    padding: 0.5em;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    font-size: 3vw;
    line-height: 3.6vw;
    text-align:center;
}

h1 {
    font-size: 3rem;
    line-height: 3.15rem;
    text-align: left;
}

img {
    object-fit: cover;
    height:30vw;
    width:30vw;
}

.single__title, .single__author {
    width: 100%;
    text-align: left;
    margin-bottom: 0.75rem;
}

.single__author {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0.75rem;
}

.opinion {
    background: #d24d57;
}

.single__header {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #000;
}

.tagged {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    padding: 0.3rem 0.9rem;
    color: #fff;
}
#spacer0 {
    height:1px;
}

#spacer1 {
	height: 1vh;
}

#spacer2 {
	height: 101vh;
}

#credits {
    visibility: hidden;
    position:fixed;
    top: calc(50vh - 15vw);
    left: 70vw;
    margin: 0;
    height: 30vw;
    width: 25vw;
    z-index: 40;
}

#credits.show-right {
    visibility:visible;
}

#credits.show-bottom {
    visibility: hidden;
    transition: visibility 0s 0.5s;
}

#credits p {
    text-align:left;
}

#container {
    display:none;
    position: fixed;
    top: calc(50vh - 15vw);
    left: 65vw;
    margin: 0;
    padding: 0;
    height: 30vw;
    width:30vw;
    z-index: 50;
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
         -o-perspective: 1000px;
            perspective: 1000px;

    -webkit-transition: -webkit-transform 0.5s;
       -moz-transition: -moz-transform 0.5s;
         -o-transition: -o-transform 0.5s;
            transition: transform 0.5s;
}

#container.show-right {
    -webkit-transform: translateX( -30vw );
       -moz-transform: translateX( -30vw );
         -o-transform: translateX( -30vw );
            transform: translateX( -30vw );
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
         -webkit-transition: -webkit-transform 0.5s;
            -moz-transition: -moz-transform 0.5s;
              -o-transition: -o-transform 0.5s;
                 transition: transform 0.5s;
}

#cube figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

#cube .front  { background: rgb(173, 201, 57);  }
#cube .back   { background: rgb(255, 255, 255); }
#cube .top    { background: rgb(244, 225, 60);  }
#cube .bottom { background: rgb(210, 77, 87);   }

#cube .front {
    -webkit-transform: translateZ( 15vw );
       -moz-transform: translateZ( 15vw );
         -o-transform: translateZ( 15vw );
            transform: translateZ( 15vw );
}
#cube .back {
    -webkit-transform: rotateX( -180deg ) translateZ( 15vw );
       -moz-transform: rotateX( -180deg ) translateZ( 15vw );
         -o-transform: rotateX( -180deg ) translateZ( 15vw );
            transform: rotateX( -180deg ) translateZ( 15vw );
}
#cube .right {
    -webkit-transform: rotateY( 90deg ) translateZ( 15vw );
       -moz-transform: rotateY( 90deg ) translateZ( 15vw );
         -o-transform: rotateY( 90deg ) translateZ( 15vw );
            transform: rotateY( 90deg ) translateZ( 15vw );
}
#cube .left {
    -webkit-transform: rotateY( -90deg ) translateZ( 15vw );
       -moz-transform: rotateY( -90deg ) translateZ( 15vw );
         -o-transform: rotateY( -90deg ) translateZ( 15vw );
            transform: rotateY( -90deg ) translateZ( 15vw );
}
#cube .top {
    -webkit-transform: rotateX( 90deg ) translateZ( 15vw );
       -moz-transform: rotateX( 90deg ) translateZ( 15vw );
         -o-transform: rotateX( 90deg ) translateZ( 15vw );
            transform: rotateX( 90deg ) translateZ( 15vw );
}
#cube .bottom {
    -webkit-transform: rotateX( -90deg ) translateZ( 15vw );
       -moz-transform: rotateX( -90deg ) translateZ( 15vw );
         -o-transform: rotateX( -90deg ) translateZ( 15vw );
            transform: rotateX( -90deg ) translateZ( 15vw );
}

#cube.show-front {
    -webkit-transform: translateZ( -15vw );
       -moz-transform: translateZ( -15vw );
         -o-transform: translateZ( -15vw );
            transform: translateZ( -15vw );
}
#cube.show-back {
    -webkit-transform: translateZ( -15vw ) rotateX( -180deg );
       -moz-transform: translateZ( -15vw ) rotateX( -180deg );
         -o-transform: translateZ( -15vw ) rotateX( -180deg );
            transform: translateZ( -15vw ) rotateX( -180deg );
}
#cube.show-right {
    -webkit-transform: translateZ( -15vw ) rotateY( -90deg );
       -moz-transform: translateZ( -15vw ) rotateY( -90deg );
         -o-transform: translateZ( -15vw ) rotateY( -90deg );
            transform: translateZ( -15vw ) rotateY( -90deg );
}
#cube.show-left {
-webkit-transform: translateZ( -15vw ) rotateY( 90deg );
   -moz-transform: translateZ( -15vw ) rotateY( 90deg );
     -o-transform: translateZ( -15vw ) rotateY( 90deg );
        transform: translateZ( -15vw ) rotateY( 90deg );
}
#cube.show-top {
-webkit-transform: translateZ( -15vw ) rotateX( -90deg );
   -moz-transform: translateZ( -15vw ) rotateX( -90deg );
     -o-transform: translateZ( -15vw ) rotateX( -90deg );
        transform: translateZ( -15vw ) rotateX( -90deg );
}
#cube.show-bottom {
-webkit-transform: translateZ( -15vw ) rotateX( 90deg );
   -moz-transform: translateZ( -15vw ) rotateX( 90deg );
     -o-transform: translateZ( -15vw ) rotateX( 90deg );
        transform: translateZ( -15vw ) rotateX( 90deg );
}



@media screen and (max-width: 840px) {
	html {
		font-size: 85%;
	}
}

@media screen and (max-width: 600px) {
	html {
        font-size: 70%;
    }
}
